/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    min-height: 100svh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Styles              */
/* ------------------- */

:root {
    --clr-primary-dark: #1A1A1A;
    --clr-primary-light: #222222;
    --clr-accent: #FFC107;
    --clr-red: #FC4850;
    --clr-green: #00FF37;
    --clr-white: #E8EAED;
    --clr-text-gray: #757575;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
}

img {
    -webkit-user-drag: none;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1A1A1A;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
}